<a href="https://colab.research.google.com/github/Msamuelsons/Desafio-titanic-kaggle/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd

df = pd.read_csv('/content/train.csv')
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [28]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [29]:
df['Embarked'].mode()[0] # valor mais frequente

'S'

In [38]:
df.isnull().sum() / df.shape[0]

Survived    0.0
Pclass      0.0
Sex         0.0
Age         0.0
SibSp       0.0
Parch       0.0
Fare        0.0
Embarked    0.0
dtype: float64

In [32]:
df.drop(['Name', 'Ticket', 'PassengerId'], axis=1, inplace=True)

In [33]:
df['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [34]:
df.drop('Cabin', axis=1, inplace=True)

In [37]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [36]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [39]:
sex_encoded = pd.get_dummies(df['Sex'])

embarked_encoded = pd.get_dummies(df['Embarked'])

df.drop('Sex', inplace=True, axis=1)
df.drop('Embarked', inplace=True, axis=1)

concatenado = pd.concat([df, sex_encoded, embarked_encoded], axis=1)

In [40]:
concatenado.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  female  male  C  Q  S
0         0       3  22.0      1      0   7.2500       0     1  0  0  1
1         1       1  38.0      1      0  71.2833       1     0  1  0  0
2         1       3  26.0      0      0   7.9250       1     0  0  0  1
3         1       1  35.0      1      0  53.1000       1     0  0  0  1
4         0       3  35.0      0      0   8.0500       0     1  0  0  1

In [42]:
y = concatenado['Survived']
x = concatenado.drop('Survived', axis=1)

In [46]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score

modelo1 = GradientBoostingClassifier(n_estimators=300, learning_rate=0.09)
kfold = StratifiedKFold(n_splits=5)

resultado = cross_val_score(modelo1, x, y, cv=kfold, n_jobs=-1)
print(resultado.mean())

0.8361684765551441

## Melhores parmetros

In [45]:
import numpy as np
from sklearn.model_selection import GridSearchCV

valores_grid = {
    'learning_rate': [0.1, 0.09, 0.08, 0.07, 0.06, 0.05, 0.04, 0.03, 0.02, 0.01]
}

modelo2 = GradientBoostingClassifier(n_estimators=300)

gridGB = GridSearchCV(estimator=modelo2, param_grid=valores_grid, cv=5, n_jobs=-1)
gridGB.fit(x, y)

print(gridGB.best_estimator_.learning_rate)
print(gridGB.best_score_)

0.09
0.8361684765551441